@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}
 
body {
  /* background: rgba(236, 232, 236, 0.736); */
  /* background: url("./back.jpg") center/cover; */
  /* background-repeat: no-repeat; */
  /* margin-top: 60px; */
   
}
.container {
  
  /* position:absolute; */
}
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  font-size: 1.5em;
}
.nav-links {
  display: flex;
}
.nav-links li {
  list-style: none;
  margin-left: 20px;
}
.nav-links li a {
  color: #000;
  text-decoration: none;
}
.burger {
  display: none;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    margin: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  .nav-links {
    width: 100%;
  }
  .nav-links li {
    width: 100%;
    text-align: center;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

/* Burger styles */
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
}


/* Animation styles */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Active styles */
.nav-active {
  transform: translateX(0%);
}
.burger.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.burger .line1 {
  transform: rotate(0deg) translate(0px, 0px);
}
.burger.line2 {
  opacity: 1;
}
.burger .line3 {
  transform: rotate(0deg) translate(0px, 0px);
}
.chat {
  background: rgb(240, 140, 54);
  /* padding: 8px 17px; */
  border-radius: 1rem;
  font-size: 1rem;
  color: rgb(234, 239, 244);
}
.home {
  /* background: url("./background.jpg") center/cover; */
  /* background-repeat: no-repeat; */
  display: flex;
  /* margin-top: 100px; */
  flex-direction: column;
  /* height: calc(min(90vh, 100vh)); */
  height: 650px;
  /* margin-right: 3rem; */
  /* width: 100%; */
  /* justify-content: center; */
  align-items: center;
}
.content {
  color: rgb(25, 16, 25);
  /* flex-wrap: wrap; */
  /* margin: auto 0; */
  /* width: 50%; */
  /* padding: 1rem; */
}
.content-right{
  display: flex;
}
.name {
  /* width: 350px; */
  /* margin: auto; */
  font-size: 1.5rem;
}
.typewriter {
  margin: 1rem 0;
  height: 1.2em;
  width: 0vw;
  color: orange;
  word-break: break-all;
  font-size: 2.2rem;
  overflow: hidden;
  animation: c 0.5s infinite steps(1), t 3s linear infinite alternate;
}

@keyframes t {
  90%,
  100% {
    width: 390px;
  }
}

@keyframes c {
  0%,
  100% {
    /* box-shadow:   0 0 #ffff; */
  }
  50% {
    /* box-shadow:   0 0 rgb(224, 214, 214); */
  }
}

.profile-pic {
  width: 50%;
  overflow: hidden;
}
.social-media {
  /* background: yellow; */
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: center;
}
.socialmedia-icons {
  /* background: #cab8a9; */
  /* height: 55px; */
  font-size: 2.5rem;
  color: #111;
}
a  :visited{
  color: #000 !important;
}

.top-icons {
  display: inline-block;
  position: relative;
  text-align: center;
}

.top-icons .text0 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 129, 16);
  color: #ffff;
  padding: 0.5em;
  border-radius: 0.5em;
}
 
.top-icons:hover .text0 {
  display: block;
}
.image {
  width: 98%;
  max-width: 300px;
  height: 300px;
  filter: saturate(0.3);
  margin: 0.25rem auto;
  display: block;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.profile-pic {
  position: relative;
  /* z-index: 0; */
  width: 300px;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  overflow: hidden;
}
.profile-pic::before {
  content: "";
  position: absolute;
  /* z-index: 0; */
  left: -50%;
  top: -50%;
  width: 180%;
  height: 180%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#e97109, #d1570c);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.profile-pic::after {
  content: "";
  /* z-index: -3; */
  left: 6px;
  top: 6px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* background: rebeccapurple; */
  height: auto;
  margin: 3rem 1rem;
  width: 100%;
  /* justify-content: center; */
}
.photo-field {
  /* height: 500px; */
  width: 100%;
  /* background: red; */
}
.photo {
  height: 500px;
  width: 350px;
  border-radius: 2rem;
  /* margin: auto; */
  display: block;
  padding: 0.5rem;
}
.photo {
  transition: transform 0.7s;
}

.photo:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px rgb(183, 152, 152);
  -moz-box-shadow: 10px 10px 5px rgb(126, 110, 110);
  -webkit-box-shadow: 10px 10px 5px rgb(164, 131, 131);
  -khtml-box-shadow: 10px 10px 5px rgb(209, 182, 182);
}
.about-field {
  width: 100%;
  /* display: flex; */

  padding: 1rem;
  /* background: rgb(221, 13, 162); */
  /* font-size: 1.5rem; */
  /* margin: auto; */
}
.cv-button {
  padding: 8px 17px;
 text-decoration: underline;
  /* margin: 2rem 5rem; */
  color: aqua;
  height: 70px;
  width: 180px;
  font-size: 1.2rem;
  background: #e97109;
  border-radius: 1rem;
  display: block;
  transition: transform 0.7s;
}
 

.cv-button:hover {
  transform: scale(1.1);
  background-color: rgb(226, 211, 211);
  color: rgb(14, 5, 5);
}
.skill-container {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  /* background: greenyellow; */
}
.skill-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.skills-field {
  width: 100%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: center;
}
.left-field {
  /* height: 500px; */
  display: flex;
  flex-direction: column;

  width: 100%;
}
.skillbox {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0;
}
.skillbox p {
  letter-spacing: 1px;
  margin: 0 0 5px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -20px;
}
.skill {
  box-sizing: border-box;
  background: rgb(205, 201, 201);
  border-radius: 8px;
}
.level {
  width: 100%;
  height: 15px;
  border-radius: 8px;
}
.right-field {
  width: 100%;
  height: 500px;
  background: #e97109;
}
.myproject-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0.5rem;
height: auto;
}
.project-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* background: blueviolet; */
}
.project-field {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* gap: 1rem; */
  align-items: center;
  /* background: greenyellow; */
  /* padding: 1rem; */
  /* margin: 5rem; */
}
.project-box {
  /* color: #ffff; */
  /* font-size: 1.2rem; */
  z-index: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem;
  /* margin: 1rem; */
  width: 280px;
  font-size: 1.2rem;
  height: 330px;
  background: hsl(172, 28%, 61%);
  border-radius: 2rem;
  transition: all;
  transition-duration: 0.7s;
}
.animation {
  /* color: aqua; */
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  background: rgb(208, 52, 255);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transition: all;
  transition-duration: 0.5s;
}

.project-box:hover .animation {
  height: 400px;
  width: 400px;
  /* background: #ea9e52; */
}

.header-pic {
  width: 130px;
  height: 130px;
  padding: 0.5rem;
  border-radius: 100px;
  margin: 1rem;
}
.contact-container {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  height: auto;

  /* background: blue; */
}
.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.first-container {
  width: 100%;
  padding: .3rem ;
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
  /* background: #8f3e0c; */
  margin: .7rem;
  /* justify-content: center; */
}
.top-field{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* background: pink; */
  margin: .3rem;
}
.cont-name{
  /* background: greenyellow; */
  display: flex;
  width: 47%;
  gap: .5rem;
  flex-direction: column;
}
.full-name{
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: .5rem;
  /* width: 100%; */
}
.cont-number{
  width: 47%;
  display: flex;
  gap: .3rem;
 
  flex-direction: column;
}
.mob{
  font-size: 1rem;
  border-radius: 1.5rem;
  padding: .5rem;
}
 .bottom-field{
  display: flex;
  /* gap: 1rem; */
  flex-direction: column;
 }
 .cont-mail{
  /* background: greenyellow; */
  display: flex;
  flex-direction: column;
  width: 98%;
  font-size: 1rem;
  padding: .5rem;
  gap: .2rem;
  margin: .4rem;

 }
 .gmail{
  font-size: 1rem;
  padding: .5rem;
  border-radius: 2rem;
 }
 .cont-message{
  display: flex;
  flex-direction: column;
  width: 98%;
  font-size: 1rem;
  padding: .5rem;
  gap: .5rem;
  margin: .4rem;
 }
 .text{
  font-size: 1rem;
  padding: .5rem;
  border-radius: .7rem;
 }
 .send-message{
  width: 30%;
height: 40px; 
/* padding: .5rem;  */
font-size: 1rem;
border-radius: 10px;
margin: 0 1rem ;
 }
 .cont-child{
  display: flex;
  flex-direction: column;
 }
 .second-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  padding: .2rem;
  margin:  .2rem 0;
  
 }
 .cont-footer{
  width: 100%;
  height: auto;
  padding: .7rem;
  gap: 1rem;
align-items: center;
justify-content: center;
  display: flex;
  flex-direction: column;
  background: #f5e7dc;
  justify-content: space-between;
 }
 .footercontent-1{
width: 100%;
font-size: 1rem;
font-weight: bold;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
 .footercontent-2{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
 }
 .footercontent-3{
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
 }
 .fa-solid{
  background: #d1570c;
  font-size: 1.5rem;
  border-radius: 100%;
  padding: 1rem;
 }


 